.bg-light {
  background-color: white !important;
}
.customNav {
  margin: auto;
  padding: 0;
  padding-bottom: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  text-align: right;
}
.navbar-collapse {
  background-color: white;
  font-size: 1.2rem;
  font-weight: 700;
}
.navbar-nav a,
.navbar-nav {
  margin-top: auto;
  margin-bottom: auto;
}
.navbar-light .navbar-nav .nav-link {
  color: $deepGrey;
}
.navbar-toggler {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

@media (min-width: $largeMinPx) {
  .customNav {
    width: 100%;
    margin: auto;
    height: 95px;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-bottom: 0;
  }
  .navbar-brand,
  .navbar-collapse {
    width: 50%;
    height: 100%;
  }

  .navbar-collapse {
    background-color: #a2c046;
  }

  .middleBorder {
    height: 100%;
    content: "";
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
    border-width: 0 0 95px 40px;
    background-color: $lightGreen;
  }

  .navbar-collapse::after {
    content: "";
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 100%;
    background-color: $lightGreen;
  }
  .nav-link {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar-nav .has-divider::before {
    position: absolute;
    content: "";
    left: -4px;
    top: calc(50% - 4px);
    width: 4px;
    height: 4px;
    background-color: $darkGreen;
    border-radius: 50%;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
  }
}
