.carousel {
  margin-top: 0px;
}
.carousel-item {
  height: 650px;
  background-color: rgb(3, 3, 3);
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 650px;
  opacity: 0.5;
}
.carousel-caption {
  top: 3rem;
  text-shadow: $lightGreen 0px 0 2px;
}
.carousel-caption p {
  font-size: 1.9rem;
  font-weight: 900;
}
.carousel-caption h3 {
  font-weight: 500;
  font-size: 1.7rem;
}

// For Medium Screens
@media (min-width: $mediumMinPx) {
  /* Green/white slash border */
  .carousel-caption {
    width: 60%;
    top: 9rem;
  }
}

// For X-Large Screens
@media (min-width: $xLargeMinPx) {
  /* Green/white slash border */
  .carousel-caption {
    width: 40%;
    top: 12rem;
  }
}


