/* ServicesSmall component */
.servicesSmallTitle {
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 0 0 1px 0;
}

.serviceSmall p {
  font-size: 1.2rem;
  font-weight: 400;
}

.serviceSmall {
  border: 6px solid white;
  border-radius: 1px;
  padding: 1rem;
}

/* display:inline; */
.serviceSmall h1 {
  color: $lightGreen;
}


.serviceContainer .imgContainer img {
  max-width: 100%;
  width: 100%;
}

.serviceContainer {
  font-family: "Lora", serif;
  width: 100%;
}

.serviceContainer p {
  color: #a5a5a5;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.serviceContainer h5 {
  font-weight: 700;
}

.serviceContainer a {
  font-size: 1rem;
  font-weight: 700;
}

.title1 {
  display: inline;
  color: $deepGrey;
}

.title2 {
  color: $brightGreen;
  display:inline-block;
  word-wrap: break-word;
}

.servicesSmallReadMe a {
  vertical-align: top;
}

.serviceContainer h1,
.serviceContainer h2,
.serviceContainer h4,
.serviceContainer h5 {
  font-family: $primaryFont;
}

.serviceContainer h4 {
  font-size: 1.3rem;
  font-weight:550;
  color:$deepGrey;
}

.serviceRow {
  width: 100%;
}

@media (min-width: $mediumMinPx) {
  .serviceSmall {
    border: 6px solid $borderGrey;
    border-radius: 1px;
    padding: 1rem;
  }
  .serviceRow {
    width: 95%;
  }
}

@media (min-width: $largeMinPx) {
  .pushLinkDown {
    position: absolute;
    bottom: 3px;
    margin-top:3px;
  }
}

@media (min-width: $xLargeMinPx) {
  .serviceRow {
    width: 66%;
  }
}



