.chooseUsContainer{

}

.chooseTitle1, .chooseTitle2 {
  display: inline;
  font-family:$primaryFont;
}

.chooseTitle2 {
  color: $brightGreen;
  font-weight: bold;
}

.widgetRow {
  width:100%;
}

.widgetOuter{
  min-height:10rem;
  padding:10px;
  font-family:$primaryFont;
}

.widgetInner{
  height:100%;
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 1px;
}

.widgetInner .icon {
  text-align:right;
  font-size:1.7rem;
  color:$lightGreen;
}

.widgetInner .title {
  text-align: left;
  font-weight: 700;
}

.widgetInner p {
  font-family:$primaryFont;
  color:$grey;
  font-size:.95rem;
}

@media (min-width: $mediumMinPx) {

}

@media (min-width: $largeMinPx) {

}

@media (min-width: $xLargeMinPx) {
  .chooseUsRow{
    width:66%;
  }
}