/* Set main BG color and font*/
  @import './Assets/config/Settings.scss';
  @import './Assets/components/ServicesSmall/ServicesSmall.scss';
  @import './Assets/components/MainNav/Navi.scss';
  @import './Assets/components/SlimNav/SlimNav.scss';
  @import './Assets/components/ImgCarousel/ImgCarousel.scss';
  @import './Assets/components/ContactAndAbout/AboutUs.scss';
  @import './Assets/components/ContactAndAbout/ContactAndAbout.scss';
  @import './Assets/components/ContactAndAbout/ContactUs.scss';
  @import './Assets/components//ChooseUs/ChooseUs.scss';
  @import './Assets/components/Footer/Footer.scss';
  @import './Assets/components/AboutUsMain/AboutUsMain.scss';
  @import './Assets/components/ContactAndMap/ContactAndMap.scss';

body {
  font-family: $boldFont;
}

/* Set button colors */
.btn-primary {
  color: #fff;
  background-color: $lightGreen;
  border-color: $lightGreen;
}
.btn-primary:hover {
  color: $lightGreen;
  background-color: #fff;
  border-color: #fff;
}

a {
  color: $lightGreen;
}
a:hover{
  text-decoration:none;
  color: $darkGreen;
}

input {
  border-radius:0!important;
}

textarea {
  border-radius:0!important;
}




