
  .aboutUsContainer {
    background-image: url("../images/testPattern2.png");
    background-repeat: repeat;
    position: relative;
    font-family: "Lora", serif;
    width: 100%;
  }

  
  .aboutUsContainer:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(253, 253, 253, 0.5);
  }

  .aboutUsCol {
    background-color: rgba(124, 124, 124, 0.6);
  }
  
  @media (min-width: 1200px) {
    .aboutUsRow {
      width:70%;
    }
  }

  .aboutUsContainer .imgContainer img {
    max-width: 100%;
  }

