/* Colors */
$lightGreen: #a2c046;
$borderGrey: rgb(224, 224, 224);
$darkGreen: #7a9232;
$brightGreen: #9fc612;
$primaryFont: Roboto Slab, serif;
$boldFont: Josefin Sans, sans-serif;
$mediumMinPx: 768px;
$largeMinPx: 992px;
$xLargeMinPx: 1200px;
$deepGrey: #464646;
$grey:#585858;
