/* Colors */
$newlightGreen: #6dab38;
$newdarkGreen: #4e7e29;
$newbrightGreen: #67c93d;
$borderGrey: rgb(224, 224, 224);
$primaryFont: Roboto Slab, serif;
$boldFont: Josefin Sans, sans-serif;
$mediumMinPx: 768px;
$largeMinPx: 992px;
$xLargeMinPx: 1200px;
$deeperGrey:#1f1f1f;
$deepGrey: #464646;
$grey:#585858;
$lightGrey:#888888;
$lighterGrey:#e4e4e4;
$alightGreen: #a2c046;
$adarkGreen: #7a9232;
$abrightGreen: #9fc612;
$lightGreen: #7daf2d;
$darkGreen: #709c37;
$brightGreen: #9cd434;

/*0e9752 */

$navHeight: 100px;