.aboutUsContainer {
  // background-image: url("../images/twigs.jpg");
  background-repeat: repeat;
  background-color: rgb(58, 58, 58);
  background-image: url('../../images/leafPattern.png');
  position: relative;
  font-family: "Lora", serif;
  width: 100%;
}

@media (min-width: $xLargeMinPx) {
  .aboutUsRow {
    width: 66%;
  }
}

.aboutUsContainer .imgContainer img {
  max-width: 100%;
}

.aboutUsTitle {
  color: white;
}

.aboutUsCol {
  width: 100%;
}
