.contactUs {
  border: 1px solid #c4c4c4;
  width: 100%;
  font-family: $primaryFont;
  height: 100%;
}

.contactUsTitle {
  color: $brightGreen;
  text-align: center;
  border-bottom: 1px solid #818181;
  display: table;
  margin: auto;
}

.contactInput {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.contactUs input,
.contactUs textarea {
  width: 100%;
  padding: 5px 5px;
  font-family: $primaryFont;
}

.contactUs textarea {
  height: 80%;
}

.contactUs button {
  display: table;
  font-family: $boldFont;
}

.contactTitle1 {
  display: inline;
  color: white;
}

.contactTitle2 {
  display: inline;
}

#contact-form {
  display:inline;
}

.contactUs .row {
  margin-left: 0;
  margin-right: 0;
}